* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Quicksand, sans-serif;
}

*:focus {
  outline: 1px solid rgba(151, 151, 151, 1);
}

body {
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 8%;
  background-color: dodgerblue;
  width: 100%;
}

.header a {
  text-decoration: none;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.logo p {
  font-size: 3rem;
}

.nav ul li {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 15px;
}

.active {
  padding-bottom: 2px;
  border-bottom: 2px solid #fff;
}

.signupAlert {
  display: none;
  margin: 10px;
}

.alert {
  display: flex;
  justify-content: center;
  width: 70%;
  /* text-align: center; */
  background-color: rgba(30, 143, 255, 0.5);
  margin: 0 15%;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 2px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #ddd;
  text-align: center;
  padding: 1% 10%;
}

.files {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  min-height: 50vh;
  width: 80%;
  text-align: center;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  margin: 4%;
  padding: 4%;
}

.files h2 {
  padding: 2% 0;
}

.row {
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  grid-template-columns: 33.33% 33.33% 33.33%;
  padding: 1% 2%;
  width: 100%;
}

.row:nth-child(even) {
  background-color: #ddd;
}

.row:nth-child(odd) {
  background-color: #fff;
}

.downbtn {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 18px;
  background-color: dodgerblue !important;
  padding: 4% 2%;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  outline: none;
}

footer {
  /* border: 5px solid #fff; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 140, 255);
  padding: 2%;
  margin-top: -0.5%;
}

footer p {
  font-weight: 600;
  letter-spacing: 1.2px;
  text-align: center;
  padding: 2% 0;
  color: #fff;
}
