* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Quicksand, sans-serif;
}

html,
body {
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4% 8%;
  background-color: dodgerblue;
  transition: visibility 4s ease-in-out;
}

.header a {
  text-decoration: none;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 0.8rem;
}

.logo p {
  display: none;
}

.openbtn {
  color: #fff;
}

.closebtn {
  color: dodgerblue;
  padding: 10% 0;
}

.nav {
  display: none;
  /* visibility: hidden; */
  width: 50vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  list-style: none;
}

.nav ul li a {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  width: 100%;
  padding: 12% 2%;
}

.active {
  color: #fff !important;
  background-color: dodgerblue;
}

.signupAlert {
  display: block;
}

.alert {
  display: flex;
  justify-content: center;
  background-color: rgba(30, 143, 255, 0.6);
  margin: 0 15%;
  padding: 1%;
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 40px;
  row-gap: 20px;
  padding: 2% 8%;
  margin: 1%;
}

.info {
  text-align: center;
  padding: 2%;
}

.upfile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 4% 6%; */
  /* margin: 1%; */
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 100%;
}

.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.upbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: dodgerblue;
  font-size: 16px;
  padding: 4%;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  outline: none;
}
