* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Quicksand, sans-serif;
}

html,
body {
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4% 8%;
  background-color: dodgerblue;
  transition: visibility 4s ease-in-out;
}

.header a {
  text-decoration: none;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 0.8rem;
}

.logo p {
  display: none;
}

.openbtn {
  color: #fff;
}

.closebtn {
  color: dodgerblue;
  padding: 10% 0;
}

.nav {
  display: none;
  /* visibility: hidden; */
  width: 50vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  list-style: none;
}

.nav ul li a {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  width: 100%;
  padding: 12% 2%;
}

.active {
  color: #fff !important;
  background-color: dodgerblue;
}

.signupAlert {
  display: none;
}

.alert {
  display: flex;
  justify-content: center;
  background-color: rgba(30, 143, 255, 0.6);
  margin: 0 15%;
  padding: 1%;
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #ddd;
  text-align: center;
  padding: 4% 10%;
}

.title p {
  display: none;
}

.files {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  min-height: 50vh;
  min-width: 90vw;
  text-align: center;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  margin: 3%;
  padding: 2%;
}

.files h2 {
  padding: 4% 0;
}

.row {
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  grid-template-columns: 33.33% 33.33% 33.33%;
  padding: 1% 2%;
  width: 100%;
}

.row:nth-child(even) {
  background-color: #ddd;
}

.row:nth-child(odd) {
  background-color: #fff;
}

.downbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 15px;
  background-color: dodgerblue !important;
  padding: 8% 3%;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  outline: none;
  width: 100%;
}

footer {
  background-color: rgb(30, 144, 255);
  padding: 10% 0 20% 0;
  position: static;
  width: 100%;
  bottom: 0;
  margin-top: 5%;
}

footer p {
  font-weight: 600;
  letter-spacing: 1.2px;
  text-align: center;
  padding: 2% 0;
  color: #fff;
}
