* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Quicksand, sans-serif;
}

html,
body {
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4% 8%;
  background-color: dodgerblue;
  transition: visibility 4s ease-in-out;
}

.header a {
  text-decoration: none;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 0.8rem;
}

.logo p {
  display: none;
}

.openbtn {
  color: #fff;
}

.closebtn {
  color: dodgerblue;
  padding: 10% 0;
}

.nav {
  display: none;
  /* visibility: hidden; */
  width: 50vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  list-style: none;
}

.nav ul li a {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  width: 100%;
  padding: 12% 2%;
}

.active {
  color: #fff !important;
  background-color: dodgerblue;
}

.signupAlert {
  display: none;
}

.alert {
  display: flex;
  justify-content: center;
  background-color: rgba(30, 143, 255, 0.6);
  margin: 0 15%;
  padding: 1%;
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  padding: 5% 10%;
}

.teacherLogin,
.studentLogin {
  display: none;
  margin: 12% 0;
}

.card {
  display: flex;
  align-items: center;
  border-radius: 15px;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
}

.vector {
  display: none;
}

.form {
  /* padding: 20px 40px; */
  margin: 10px;
}

.form form {
  padding: 30px 0;
}

.logUser,
.logPass {
  padding: 2px;
}

.logUser input,
.logPass input {
  width: 100%;
  text-align: center;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 15px;
}

.logSubmit {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: dodgerblue;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.logSubmit:focus {
  outline: none;
}

.signUp {
  text-align: center;
  padding: 20px;
}

.logSignup {
  text-decoration: none;
  color: dodgerblue;
  font-size: 18px;
  font-weight: 600;
}

.lost {
  border-radius: 15px;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
}

.lost img {
  width: 300px;
}

.goback {
  display: flex;
  justify-content: space-evenly;
}

.goback a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background-color: dodgerblue;
  border-radius: 10px;
  padding: 10px;
}

footer {
  background-color: rgb(30, 144, 255);
  padding: 10% 0 20% 0;
  position: static;
  width: 100%;
  bottom: 0;
  margin-top: 5%;
}

footer p {
  font-weight: 600;
  letter-spacing: 1.2px;
  text-align: center;
  padding: 2% 0;
  color: #fff;
}
